@font-face {
  font-family: "Libre Caslon Display";
  src: url("../css/fonts/LibreCaslonDisplay-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  margin: 0 auto;
  padding: 0 0;
  font-family: "Libre Caslon Display";
  font-weight: 400;
  font-size: 16px; }

.clear {
  clear: both; }

a {
  color: black;
  text-decoration: none; }

p {
  padding: 0 15px;
  margin: 15px auto;
  font-size: 1.2em; }

h1 {
  font-family: "Libre Caslon Display"; }

button {
  outline: none;
  cursor: pointer;
  border: none; }

div {
  outline: none; }

li {
  list-style: none; }

img {
  width: 100%;
  display: block; }

.section {
  max-width: 1230px;
  margin: 0 auto; }

.main-section {
  max-width: 1230px;
  margin: 50px auto; }

.popup-btn {
  border-radius: 0.5em;
  background: #558f3a;
  text-align: center;
  padding: 0 10px; }

.title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5px; }

.title2 {
  font-size: 1.5em;
  margin: 20px 0;
  text-align: center; }

.text {
  text-align: justify;
  font-size: 1.2em;
  word-break: break-word; }

.info {
  text-align: center;
  margin: 16px 0;
  font-size: 1.2em;
  font-family: "Libre Caslon Display", serif; }

.popup-form {
  display: none;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 125;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5); }
  .popup-form-inner {
    width: 360px;
    height: auto;
    background: #fff;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 70px; }
  .popup-form .popur-form-closed {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0;
    cursor: pointer;
    width: 25px;
    height: 25px;
    z-index: 2;
    background: url("../images/icon-closed.png") no-repeat center;
    background-size: 100%; }
    .popup-form .popur-form-closed:hover {
      transform: rotate(720deg);
      transition: all 600ms; }
  .popup-form-title {
    font-size: 17px;
    margin-bottom: 15px;
    margin-right: 20px; }
  .popup-form .fild-contener {
    padding: 7px 0; }
    .popup-form .fild-contener .fild-error {
      margin-bottom: 2px;
      color: #ce1616;
      line-height: 1.5;
      font-size: 14px;
      width: calc(100%-30px); }
    .popup-form .fild-contener .fild {
      margin: 5px 0; }
      .popup-form .fild-contener .fild input {
        width: 100%;
        padding: 10px 5px;
        outline: none;
        border: 1px solid #666;
        font-size: 15px; }
  .popup-form .fild-contener-bth {
    margin: 20px auto 0;
    width: 200px;
    height: 40px;
    max-width: 92%;
    position: relative;
    line-height: 34px;
    text-align: center;
    overflow: hidden; }
    .popup-form .fild-contener-bth button {
      background-color: #9f887e;
      border-radius: 0px;
      box-shadow: #816a60 0px 0.25em 0px 0.01em;
      color: white;
      border-color: transparent;
      width: 100%;
      height: 100%; }
      .popup-form .fild-contener-bth button:hover {
        transform: translateY(-5px);
        transition: 0.5s ease-in-out; }

.popup_img {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  opacity: 1;
  z-index: 125; }
  .popup_img .preload {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    border-radius: 3px; }
  .popup_img-hide {
    display: none; }
  .popup_img .btn-gallery {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 77px;
    height: 77px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    z-index: 10; }
    .popup_img .btn-gallery:hover {
      transition: background-color 0.3s ease; }
  .popup_img-prev {
    background: url("../images/left.png") no-repeat;
    background-size: 5em;
    left: 70px; }
  .popup_img-next {
    background: url("../images/right.png") no-repeat;
    background-size: 5em;
    right: 70px; }
  .popup_img-wrap {
    display: inline-block;
    max-width: 85%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 70px; }
    .popup_img-wrap img {
      max-width: 800px;
      max-height: 600px; }
  .popup_img .popup_img-closed {
    position: absolute;
    top: 15px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: url("../images/icon-closed.png") no-repeat center;
    background-size: 100%;
    cursor: pointer; }
    .popup_img .popup_img-closed:hover {
      transform: rotate(720deg);
      transition: all 600ms; }

.popup-zoom_img {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
  opacity: 1;
  z-index: 125; }
  .popup-zoom_img .preload-zoom {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    border-radius: 3px; }
  .popup-zoom_img-hide {
    display: none; }
  .popup-zoom_img-wrap {
    display: inline-block;
    max-width: 85%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 70px; }
    .popup-zoom_img-wrap img {
      max-width: 850px;
      max-height: 650px; }
  .popup-zoom_img .popup-zoom_img-closed {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: url("../images/icon-closed.png") no-repeat center;
    background-size: 100%;
    cursor: pointer; }
    .popup-zoom_img .popup-zoom_img-closed:hover {
      transform: rotate(720deg);
      transition: all 600ms; }

.header__wrapper-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative; }

.header__wrapper-menu {
  display: block; }

.header__wrapper-mobile_menu,
.mobile_menu {
  display: none; }

.header__wrapper-mobile_menu {
  display: none;
  background: url("../images/icon-menu.png") no-repeat;
  background-size: 85%;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px; }
  .header__wrapper-mobile_menu:hover {
    transform: rotate(90deg);
    transition: 500ms ease-in-out; }

.header__wrapper-logo {
  width: 270px;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  display: block; }
  .header__wrapper-logo img {
    display: block;
    max-width: 270px; }
.header__wrapper-menu {
  text-align: left;
  margin-top: 5px; }
  .header__wrapper-menu .menu-item {
    display: inline-block;
    margin: 0 20px; }
    .header__wrapper-menu .menu-item a {
      display: block;
      padding: 7.5px; }
      .header__wrapper-menu .menu-item a:hover {
        transition: 0.7s ease-in-out;
        box-shadow: 200px 0 0 0 #accc20 inset;
        color: white;
        border-radius: 0.5em; }
.header__wrapper-callback {
  margin-left: 25px;
  font-size: 1.1em; }
  .header__wrapper-callback .header-top-btn {
    max-width: 250px;
    min-width: 130px;
    padding: 0 10px;
    line-height: 35px;
    color: white; }
    .header__wrapper-callback .header-top-btn:hover {
      transition: 0.7s ease-in-out;
      box-shadow: 500px 0 0 0 #accc20 inset; }
.header__wrapper-phone {
  position: relative;
  display: flex;
  margin-left: 20px; }
  .header__wrapper-phone .phone-icon {
    margin-right: 5px;
    margin: auto; }
    .header__wrapper-phone .phone-icon img {
      max-width: 25px;
      max-height: 25px; }
  .header__wrapper-phone .phone-number {
    font-size: 1.4em; }

.mobile_menu {
  max-width: 360px;
  padding-bottom: 30px;
  position: fixed;
  width: 100%;
  left: -360px;
  top: 0;
  margin-top: 0;
  background: white;
  box-shadow: 0 0px 20px 4px rgba(0, 0, 0, 0.19), 0 6px 6px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 3% 3% 3%;
  display: block !important;
  transition: 0.5s all;
  overflow: auto;
  opacity: 0;
  z-index: 30; }

.active {
  display: none;
  width: 100%;
  opacity: 1;
  left: 0;
  z-index: 9999; }

.header__wallpaper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-bd.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  padding: 40px;
  position: relative; }

.header__wrapper-bottom {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 20px;
  text-align: center; }
  .header__wrapper-bottom-title {
    font-size: 2.3em;
    margin-top: 20px;
    margin-bottom: 5px;
    color: white; }
  .header__wrapper-bottom-subtitle {
    color: white;
    font-size: 1.6em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 120%; }
  .header__wrapper-bottom-callback {
    margin-bottom: 10px; }
    .header__wrapper-bottom-callback .header-bottom-btn {
      font-size: 1.3em;
      width: 500px;
      min-width: 350px;
      padding: 5px 10px;
      min-height: 30px;
      line-height: 45px;
      color: white; }
      .header__wrapper-bottom-callback .header-bottom-btn:hover {
        transition: 0.7s ease-in-out;
        box-shadow: 500px 0 0 0 #accc20 inset; }
  .header__wrapper-bottom-info {
    margin: 5px auto;
    font-size: 1.2em;
    color: white; }

.sanatorium__wrapper-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px; }

.gl-item {
  width: 400px;
  max-height: 325px;
  margin-top: 5px;
  cursor: pointer; }
  .gl-item img {
    display: block;
    width: 100%;
    max-height: 325px; }

.gl-item:nth-child(2) {
  margin: 5px 15px; }

.gl-item:nth-child(5) {
  margin: 5px 15px; }

.callback {
  text-align: center;
  margin: 100px 0; }
  .callback-btn {
    margin: 10px 0; }
    .callback-btn .btn {
      width: 450px;
      padding: 5px 10px;
      line-height: 40px;
      font-size: 1.2em;
      color: white; }
      .callback-btn .btn:hover {
        transition: 0.7s ease-in-out;
        box-shadow: 500px 0 0 0 #accc20 inset; }

.sanatorium__we-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("../images/sanatorium-wrapp2.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  padding: 10px 0; }

.sanatorium__we-wrapper-grafica {
  display: flex;
  flex-wrap: wrap; }

.contener-icon {
  width: 33.33%;
  text-align: center;
  padding: 55px; }
  .contener-icon img {
    display: block;
    width: 40%;
    height: 40%;
    margin: 0 auto; }

.swimming_pool-title {
  padding: 0 200px; }

.swimming_pool-picture {
  display: flex;
  flex-wrap: wrap; }

.room-item {
  position: relative;
  padding: 20px;
  margin-bottom: 450px; }
  .room-item-general {
    float: left;
    margin-bottom: 15px;
    max-width: 452px; }
    .room-item-general img {
      max-height: 330px; }
  .room-item-extra_img {
    position: absolute;
    top: 360px;
    left: 20px;
    max-width: 452px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; }
    .room-item-extra_img .room-img {
      width: 24%;
      cursor: pointer; }
  .room-item-options {
    float: right;
    width: calc(100% - 480px); }
    .room-item-options .room-name {
      margin-bottom: 50px;
      font-size: 1.4em; }
    .room-item-options .room-text {
      text-align: justify;
      margin-bottom: 30px; }
    .room-item-options .room-price {
      font-size: 1.3em; }
    .room-item-options .room-subprice {
      font-size: 1.1em;
      font-style: italic;
      font-family: "Libre Caslon Display", serif;
      margin-top: 10px;
      margin-bottom: 30px; }

.reservation-btn {
  min-width: 40%;
  padding: 5px 10px;
  line-height: 40px;
  margin-top: 20px;
  color: white;
  font-size: 1.1em; }
  .reservation-btn:hover {
    transition: 0.5s ease-in-out;
    transform: translateX(7px); }

.about-item {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden; }
  .about-item-pictur {
    float: right;
    max-width: 330px;
    max-height: 230px;
    margin-left: 30px;
    margin-bottom: 30px; }
  .about-item-text {
    text-align: justify;
    padding: 20px;
    margin-right: 500px; }

.text-title {
  padding-bottom: 10px;
  font-size: 1.3em;
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2; }

.about__wrapper-content .fl-left .about-item-pictur {
  float: left;
  margin-right: 30px; }
.about__wrapper-content .fl-left .about-item-text {
  padding-left: 500px;
  margin-right: 0; }

.footer__wrapper-top {
  height: 450px;
  text-align: left; }

.map {
  float: left;
  width: 60%;
  overflow: hidden; }
  .map iframe {
    display: block;
    width: 100%; }

.footer__wrapper-contanct {
  background: #f2f2f2;
  float: right;
  padding: 40px;
  width: 40%;
  height: 100%;
  display: block; }
  .footer__wrapper-contanct .list {
    font-size: 1.2em; }
    .footer__wrapper-contanct .list li {
      list-style: circle; }
  .footer__wrapper-contanct .contanct__subtext {
    font-style: italic; }

.footer__wrapper-logo,
.footer__wrapper-contanct-bottom,
.footer__wrapper-phone-bottom {
  float: left;
  padding-top: 20px; }

.footer__wrapper-logo {
  width: 25%; }
  .footer__wrapper-logo .logo {
    max-width: 250px; }

.footer__wrapper-contanct-bottom {
  width: 50%;
  text-align: left;
  margin-top: 5px; }

.footer__wrapper-phone-bottom {
  width: 25%;
  margin-top: 7px; }

.footer-phone-number {
  font-size: 1.6em; }
  .footer-phone-number .phone-subnumber {
    text-align: center; }

.confidentiality {
  border-bottom: 1px dashed black; }
  .confidentiality:hover {
    border-bottom: none; }

@media screen and (max-width: 900px) {
  p {
    padding: 0 15px;
    margin: 15px auto;
    font-size: 1.1em; }

  .title2 {
    font-size: 1.4em; }

  .header__wrapper-mobile_menu {
    display: block; }

  .header__wrapper-menu {
    display: none; }

  .header__wrapper-logo {
    margin: 0 50px; }

  .mobile_menu-logo img {
    width: 80%; }

  .mobile_menu-item {
    margin: 10px 0;
    margin-right: 50px; }
    .mobile_menu-item a {
      display: block;
      padding: 7.5px; }
      .mobile_menu-item a:hover {
        transition: 0.7s ease-in-out;
        box-shadow: 200px 0 0 0 #accc20 inset;
        color: white;
        border-radius: 0.5em; }

  .header__wrapper-bottom-title {
    font-size: 2em; }
  .header__wrapper-bottom-callback .header-bottom-btn {
    font-size: 1.2em; }
  .header__wrapper-bottom-info {
    font-size: 1.1em; }

  .gl-item {
    margin: 5px 15px; }

  .contener-icon {
    padding: 45px; }

  .contener-icon img {
    width: 50%;
    height: 30%; }

  .swimming_pool-title {
    padding: 0 70px; }

  .swimming_pool-slider-item {
    max-width: 260px; }

  .room-item-options .room-name {
    margin-bottom: 25px; }

  .room-item-general {
    max-width: 400px; }

  .room-item-extra_img {
    top: 350px;
    max-width: 400px; }

  .room-item-options {
    width: calc(100% - 410px); }

  .reservation-btn {
    line-height: 30px; }

  body {
    font-size: 14px; }

  .popup-zoom_img-wrap img {
    min-width: 550px; }

  .popup_img-wrap img {
    min-width: 400px; } }
@media screen and (max-width: 800px) {
  p {
    padding: 0 5px; }

  .header__wrapper-logo {
    margin: 0 30px; }

  .header__wrapper-bottom-title {
    font-size: 1.9em; }

  .gl-item {
    width: 230px;
    max-height: 300px; }

  .contener-icon {
    padding: 30px; }

  .reservation-btn {
    margin-top: 0; }

  .about-item-text {
    margin-right: 350px; }

  .about__wrapper-content .fl-left .about-item-text {
    margin-left: -100px; } }
@media screen and (max-width: 750px) {
  p {
    padding: 0 10px; }

  .header__wrapper-bottom-title {
    font-size: 1.6em; }

  .header__wrapper-bottom-subtitle {
    color: white;
    font-size: 1.2em; }

  .header__wrapper-logo {
    margin-right: 30px;
    margin-left: 0; }

  .header__wrapper-mobile_menu {
    margin: 0 10px; }

  .gl-item {
    max-width: 205px; }

  .room-item-general {
    max-width: 600px;
    max-height: 450px;
    width: 100%;
    margin-left: 30px; }

  .room-item-extra_img {
    top: 355px;
    left: 50px;
    max-width: 600px; }

  .room-item-options {
    width: 100%;
    margin-top: 130px;
    margin-bottom: 30px;
    padding: 0 40px; }

  .footer__wrapper-contanct {
    padding: 20px; } }

/*# sourceMappingURL=style.css.map */
